
.hasTopNavbar{
	padding-top:51px;

}

.fa{
	color:black;
}

.fa-2x{
font-size:2em;
}
.fa-3x{
	font-size:3em;
}
.navbarText{
	font: 400 140% 'Open Sans', sans-serif;
}

.navbar{
	margin-bottom:0px;
}

.article-content{
	margin-left:5%;
	margin-right:5%;
	font: normal 100% 'Open Sans', sans-serif,Helvetica,sans-serif;
	color: #9b9b9b;
	padding: 17px 0px;
	font-weight: 400;
}

.sculpture-image{
	width:100%;
}

.panel{
	margin-top:20px;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:10px;

}
.article-header{
	font: 400 200% 'Open Sans', sans-serif;
color: #626262;
text-align: left;
font-weight: 400;
display: block;
}

.navbar{
	min-height:0px;
}

#commentHeader{
	font-size:2em;
	display:inline;
}
#expandHeader{
	display:inline;
	margin-left:70%;
	font-size:2em;
	color:gray;
	opacity:0.8;
}
#commentBox{
	background-color:#F0EFEE;
}
.comment{
/*	border-style:solid;
	border-width:2px;*/
	margin-left:0%;
	margin-right:0%;
	margin-top:8px;
	margin-bottom:14px;
	background-color:white;
}
.commentBody{
	font-size:100%;
	margin-left:25px;
}
.mediumText{
	font-size:100%;
}
.commentAuthor{
	font-size:100%;
	font-weight:bold;
	margin-left: 10px;
}

.commentField{
	margin-bottom:10px;
}

.commentArea{
	margin-bottom:15%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

.fa-2x{
font-size:7vmin;
}
.fa-3x{
	font-size:7vmin;
}
.navbarText{
	font: 400 7vmin 'Open Sans', sans-serif;
}

.navbar{
	margin-bottom:0px;
}
.article-header{
	font-size:2em;
}

.article-content{
	margin-left:5%;
	margin-right:5%;
	font: normal 250% 'Open Sans', sans-serif,Helvetica,sans-serif;
color: #9b9b9b;
padding: 17px 0px;
font-weight: 400;
}
.dropdown-menu > li > a{
	font-size: 2.5em;
}
.mediumText{
	font-size:150%;
}
.commentBody{
	font-size:150%;
	margin-left:25px;
}
.commentAuthor{
	font-size:175%;
	font-weight:bold;
	margin-left: 10px;
}
}

/*Iphone 4 media query*/
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:portrait){
.fa-2x{
font-size:7vmin;
}
.fa-3x{
	font-size:7vmin;
}
.navbarText{
	font: 400 7vmin 'Open Sans', sans-serif;
}

.navbar{
	margin-bottom:0px;
}

.article-content{
	margin-left:5%;
	margin-right:5%;
	font: normal 250% 'Open Sans', sans-serif,Helvetica,sans-serif;
color: #9b9b9b;
padding: 17px 0px;
font-weight: 400;
}
.commentBody{
	font-size:200%;
	margin-left:25px;
}
.mediumText{
	font-size:200%;
}
.commentAuthor{
	font-size:225%;
	font-weight:bold;
	margin-left: 10px;
}

}