<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

{% extends "/web/templates/base.html" %}
{% block title %} {{artist.fname}} {{artist.lname}} {% endblock %}

{% block navbar %} {% include "/web/artistsNavbar.html" with context %} {% endblock %}

 --> {% block content %}
 <div class="scrollable">
    <div class="scrollable-content">

       <div class="panel panel-default">
            <div class="panel-body">
                                <div class="article-content">
                                    <img class="img-thumbnail sculpture-image" src="{{artist.image}}" title="banner1">
                                    <h3 class="article-header">{{artist.fname}} {{artist.lname}}</h3>
                                    <h4><a class="mediumText" href="{{artist.website_url}}"> Website
                                    </a></h4>
                                    <p id="description"> {{artist.description}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br></br><br></br>
 </div>
</div>

{% endblock %}
