<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

{% extends "/web/templates/base.html" %}
{% block title %} {{artist.fname}} {{artist.lname}} {% endblock %}

{% block navbar %} {% include "/web/artistsNavbar.html" with context %} {% endblock %}

 --> {% block content %}
 <div class="scrollable">
    <div class="scrollable-content">

        <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/static/images/fav-icon-art-space.png" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        </script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

        <div class="content">
            <div class="wrap wrap-single">
            <div class="single-page">
                            <div class="single-page-artical">
                                <div class="artical-content">
                                    <img src="{{artist.image}}" title="banner1">
                                    <h3>{{artist.fname}} {{artist.lname}}</h3>
                                    <a href="{{artist.website_url}}"> Website
                                    </a>
                                    <p id="description"> {{artist.description}}
                                    </p>
                                    </div>
                                 <div class="clear"> </div>
                            </div>
 </div>
</div>
</div>
</div>
</div>
{% endblock %}
