<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="static/css/mobile-angular-ui-hover.css" />
    <link rel="stylesheet" href="static/css/mobile-angular-ui-base.css" />
    <link rel="stylesheet" href="static/css/mobile-angular-ui-desktop.css" />
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="static/js/angular.min.js">
    </script>
    <script src="static/js/angular-route.min.js">
    </script>
    <script src="static/js/mobile-angular-ui.js">
    </script>

    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="app">
    <div id="navbar">{% block navbar %} {% endblock %} </div>
    <div class = "app-body" id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
    </div>
</body>