  {% extends "/web/templates/base.html" %}
 {% block title %} Sculptures Map {% endblock %}
{% block navbar %} {% include "/web/sculptureCardNavbar.html" with context %} {% endblock %}
 {% block content %}

	<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="/static/images/fav-icon-art-space.png" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/main.css">

	<script src="http://maps.googleapis.com/maps/api/js"></script>

	<div class ="row">
		<div id="googleMap" style="width:90%;height:50%;"></div>
	</div>
	<script>
	
	var directionsDisplay;
	var directionsService = new google.maps.DirectionsService();
	
	var currLoc; //found via geolocation; two-element array of [lat, lng]

	function addDirections(){
		
	}

	function initialize() {
		var mapProp = {
			center:new google.maps.LatLng(39.465521, -87.413038),
			zoom:12,
			mapTypeId:google.maps.MapTypeId.ROADMAP
		};
		window.map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
		var browserSupportFlag =  new Boolean();
		var image = "./static/images/yourLocationIcon.png";
		 if(navigator.geolocation) {
  			browserSupportFlag = true;
    		navigator.geolocation.getCurrentPosition(function(position) {
      			initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
				currLoc = [position.coords.latitude, position.coords.longitude];
      			window.map.setCenter(initialLocation);
      			var yourLocation = new google.maps.Marker({
      				position: initialLocation,
		      		icon: image
      				})
      		var infowindow = new google.maps.InfoWindow({
				content:"Your Location"
				});
      		yourLocation.setMap(window.map);
			infowindow.open(window.map,yourLocation);}, 
			function() {
      			console.log("Location detected sucessfully");
    		});
			
			// the actual directions part
			var destLocString = {{response.location}};
			var destLoc = destLocString.split(",");
			
			//translate arrays into actual google positions
			var currPos = new google.maps.LatLng(currLoc[0], currLoc[1]);
			var destPos = new google.maps.LatLng(destLoc[0], destLoc[1]); 

			var request = {
				origin:currPos,
				destination:destPos,
				travelMode: google.maps.TravelMode.DRIVING
			};
			directionsService.route(request, function(response, status) {
				if (status == google.maps.DirectionsStatus.OK) {
					directionsDisplay.setDirections(response);
				}
			});
  		}
  // Browser doesn't support Geolocation
  else {
    browserSupportFlag = false;
    console.log("Error in initial location");
  }
	}
	google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	
{% endblock %}
