  {% extends "/web/templates/base.html" %}
 {% block title %} {{sculpture.title}} {% endblock %}
{% block navbar %} {% include "/web/sculptureCardNavbar.html" with context %} {% endblock %}
 {% block content %}
<div class="scrollable">
    <div class="scrollable-content">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="article-content">
                    <img class="img-thumbnail sculpture-image" src="{{sculpture.image}}" title="banner1">
                    <h3 class="article-header">{{sculpture.title}} {{sculpture.entityKey}}</h3>
                    <h4><a href="artists.html" style="font-size:24px">{{sculpture.artist}}</a></h4> {{sculpture.description|e}}

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <p id="commentHeader"> Comments</p>
                    <p id="expandHeader"> Expand</p>

                </div>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body" id="commentBox">
                	{% for comment in comments %}
                    <div class="comment">
                        <p class="commentAuthor">{{comment['author']}}</p>
                        <p class="commentBody"> {{comment['content']}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br><br><br>
        <br><br><br>

    </div>
</div>
{% endblock %}
