  {% extends "/web/templates/base.html" %}
 {% block title %} {{sculpture.title}} {% endblock %}
{% block navbar %} {% include "/web/sculptureCardNavbar.html" with context %} {% endblock %}
 {% block content %}
<div class="scrollable">
    <div class="scrollable-content">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="article-content">
                    <img class="img-thumbnail sculpture-image" src="{{sculpture.image}}" title="banner1">
                    <h3 class="article-header" id="sculptureTitle">{{sculpture.title}} {{sculpture.entityKey}}</h3>
                    <h4><a href="artists.html" id= "artistName" style="font-size:24px">{{sculpture.artist}}</a></h4><p id="sculptureText"> {{sculpture.description|e}}</p>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <p id="commentHeader"> Comments</p>
                    <p id="expandHeader"> Expand</p>

                </div>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body" id="commentBox">
                	{% for comment in comments %}
                    <div class="comment">
                        <p class="commentAuthor">{{comment['author']}}</p>
                        <p class="commentBody"> {{comment['content']}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <form role="form" action="/addComment" method="post" id="login-form" autocomplete="off">
        <div class="form-group">
        <label for="fname" class="sr-only">First Name</label>
        <input type="text" name="addCommentAuthor" id="addCommentAuthor" class="form-control" placeholder="Your name"> </input>

        
    </div>
</div>
{% endblock %}
