{% extends "/web/templates/base.html" %}
{% block title %} Tours {% endblock %}
{% block navbar %} {% include "/web/sculptureCardNavbar.html" with context %} {% endblock %}
{% block content %}

	<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="/static/images/fav-icon-art-space.png" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/main.css">

	<script src="http://maps.googleapis.com/maps/api/js"></script>

	<!-- Google Map goes here -->
	<div class ="row">
		<div id="googleMap" style="width:90%;height:50%;"></div>
	</div>

	<div id="test"></div>
	
	<!-- List of Tours Here -->
	<ul class = "list-group"style="height: 45%;overflow: scroll;">
		<li class = "list-group-item">
			<h4 style = "width:100%; text-align: center"> Tours </h4>
		</li>
		{% for tour in tours | sort(attribute="title") %}
		<li class="item">
			<div class = "col-xs-9">
				<input id = "checkbox{{tour['title']}}" type="checkbox" style="width=100%" class="regular-checkbox big-checkbox"/>
				<label for = "checkbox{{tour['title']}}" style="width=100%">{{tour['title']}}</label>
			</div>
			<div class = "col-xs-3">
				<!-- Button for starting tour -->
				<form role="form" action="/tourDirections.html" method="post">
          <input type='text' class="hidden" name="title" value="{{tour['title']}}">
          <input type='text' class="hidden" name="sculpture-list" value="{{tour['sculpture_list']}}">
					<div class="btn btn-default" onclick="parentNode.submit()" style="width = 100%; height=50%; margin-top:10%"> 
						<span class= "glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					</div>
				</form>
			</div>
		</li>
		{% endfor %}
	</ul>

	<!-- Script for creating map and tour lines -->
	<script>

		function locStringToLatLng(locationString){
			var locArray = locationString.split(",");
    	return new google.maps.LatLng(locArray[0], locArray[1]);
		}

		function drawTour(latLngArray, color){
			var tourLine = new google.maps.Polyline({
    		path: latLngArray,
    		geodesic: true,
    		strokeColor: color,
    		strokeOpacity: 1.0,
    		strokeWeight: 2
  		});
  		tourLine.setMap(window.map);
		}

		function drawAllTours(){
			var tours = {{tours | safe}};
			for (i in tours){
				var sculptureList = tours[i]["sculpture_list"];
				var latLngArray = [];

				// get location of all points in array
				for (j in sculptureList){
					var sculpture = sculptureList[j];
					var sculptLatLng = locStringToLatLng(sculpture["location"])
					latLngArray.push(sculptLatLng)
				}

				// push first sculpture onto list again to draw full loop
				var firstSculpt = sculptureList[0];
				var firstLatLng = locStringToLatLng(firstSculpt["location"])
				latLngArray.push(firstLatLng)

				// temp: color variable; remove when actual "color" field added for tour
				var randVal = Math.floor(i * 3 / 7 * Math.pow(10, 6));
				var color = "#" + randVal;
				drawTour(latLngArray, color);
			}
		}

		function initialize() {
			// create map
			var mapProp = {
				center:new google.maps.LatLng(39.465521, -87.413038),
				zoom:12,
				mapTypeId:google.maps.MapTypeId.ROADMAP
			};
			window.map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

  		drawAllTours()
		}

		google.maps.event.addDomListener(window, 'load', initialize);

	</script>
{% endblock %}
