.top-buffer{
	margin-top:60px;
}
.botton-buffer{
	margin-bottom:60px;
}

.buttonText{
	font-size:52px;
	opacity:4;
}

.glyphicon{
	font-size:52px;
}
.background{
	    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: url("static/images/flame1big.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.4;
    }
.btn{
	width:115%;
	height:12%;
	  color: #fff;
  text-shadow: -2px 2px #346392;
  border: none;
  border-radius: 20px;
	  box-shadow: inset 0 0 0 2px #27496d;

}