<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="static/css/mobile-angular-ui-hover.css" />
    <link rel="stylesheet" href="static/css/mobile-angular-ui-base.css" />
    <link rel="stylesheet" href="static/css/mobile-angular-ui-desktop.css" />
        <link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="static/css/base.css" />
    <script src="static/js/jquery.min.js"></script>

    <script src="static/js/bootstrap.js"></script>

    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>

    <div class="app">
    <div id="navbar">{% block navbar %} {% endblock %} </div>
    <div class = "app-body" id="content">
        <div class="app-content">{% block content %}{% endblock %}</div></div>

         {% block bottomNav %}

        {% endblock %}

      </div>       
</body>